/* @import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium); */
/* @import url(https://db.onlinewebfonts.com/c/e4397c6cf12af9f58d46e124d18d6d93?family=Mabry+Pro); */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@800&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@font-face {
    font-family: 'Mabry Pro';
    src: url(./assets/Mabry-Pro/Mabry\ Pro.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Mabry Pro Medium'; */
    font-family: 'Mabry Pro';
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 5vh 10vw;
    border-radius: 5px;
    width: 45vw;
    /* max-width: 600px; */
    /* min-width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content h1 {
    font-size: 3vw;
}
.modal-content a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 0.5vh 2vw;
    border-radius: 5px;
    margin-top: 2vh;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
